<div id="assignmentCanvas" overflow="auto"> 
	<div id="vis" data-bridges-visualization="{{ vistype }}" overflow="hidden" display="block" data-ng-style="visualizationStyle" class="assignmentContainer">
		<div data-ng-if="vistype != 'nodelink' && vistype != 'graph' && vistype != 'queue'" style="color: #eb6864; font-size: 24px; padding: 50px;">{{ JSON.stringifty(data).error }}</div>
	</div>

	<div id="optionContainer" class="assignmentContainer" data-ng-if="owner">
		<div style="margin:10px 10px 10px 10px;">
		  <label>Share </label>
		  <div class="switch-toggle well">
			<input id="public" type="radio" name="view" data-ng-checked="shared" data-ng-click="toggleShare(true)"/>
			<label for="public">Public </label>
			<input id="private" type="radio" name="view" data-ng-checked="!shared" data-ng-click="toggleShare(false)"/>
			<label for="private">Private </label><a class="btn btn-primary"></a>
		  </div>
		  <ul class="nav nav-pills nav-stacked">
			<li class="nav-header"> <b>Choose your representation</b></li>
			<li id="nodelink" data-ng-class="{active: isNodelink}"><a data-ng-click="setvis('nodelink')">Node-link diagram</a></li>
			<li id="tree" data-ng-class="{active: isTree}"> <a data-ng-click="setvis('tree')">Tree </a></li>
			<li id="queue" data-ng-class="{active: isQueue}"><a data-ng-click="setvis('queue')">Queue</a></li>
		  </ul><span>upload thumbnail</span>
		</div>
	</div>
</div>