    <div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header"> <a href="/" class="navbar-brand">Bridges</a></div>
        <div class="navbar-header"> <a href="http://bridgesuncc.github.io" class="navbar-brand">Documentation</a></div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li> <a href="/login">Log In </a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container clearfix"></div>
    <div class="container">
      <div style="float:left; min-height:500px;" class="col-lg-6">
        <h1>Welcome to Bridges!</h1>
        <p>Creating a bridge between your assignments and the world</p>
        <div style="margin-top:30px;">
        </div>
      </div>
      <div style="float:right" class="col-lg-6">
      </div>
      <div style="float:right" class="col-lg-6">
        <div class="well">
          <form action="/users" method="post" class="form-horizontal bs-example">
            <div class="fieldset">
              <legend>Create an account!   
                <input type="hidden" name="_csrf">
              </legend>
              <div class="form-group">
                <label class="col-lg-2 control-label"> Username</label>
                <div class="col-lg-10">
                  <input type="text" name="username" placeholder="User Name" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 control-label"> Password</label>
                <div class="col-lg-10">
                  <input type="password" name="password" placeholder="Password" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 control-label"> Email</label>
                <div class="col-lg-10">
                  <input type="email" name="email" placeholder="Your Email" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <div class="col-lg-10">
                  <input type="submit" value="Register" class="btn btn-primary">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div style="float:right; margin-top: 25px;" class="col-lg-6">
      </div>
    </div>