    <div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header"> <a href="/" class="navbar-brand">Bridges</a></div>
        <div class="navbar-header"> <a href="http://bridgesuncc.github.io" class="navbar-brand">Documentation</a></div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li> <a href="/login">Log In </a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container clearfix"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h1>Welcome to Bridges!</h1>
          <p>Create a bridge between your assignments and the world</p>
        </div>
      </div>
    </div>