<div class="container">
	<div>
		<form role="form" class="form-horizontal">
			<input type="text" id="un" class="form-control" data-ng-model="search" placeholder="Search by Username" />
		</form>
	</div>
	<div style="margin:5%">
		<a data-ng-repeat="user in users | filter:search" data-ng-href="/angular/#/assignments/{{ assignmentID }}/{{ user.username }}" style="float:left; width:100px; margin-left:50px;">
			<div style="height:100px; background-color:steelblue; border-radius:100px;"></div>
			<h4 style="text-align:center">{{user.username}}</h4>
		</a>
	</div>
</div>